/* set grid shape */
.header { grid-area: header; }
.right-body-top { grid-area: right-body-top; }
.center-body-top { grid-area: center-body-top; }
.left-body-top { grid-area: left-body-top; }
.right-body-bottom { grid-area: right-body-bottom; }
.center-body-bottom { grid-area: center-body-bottom; }
.left-body-bottom { grid-area: left-body-bottom; }
.footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas: 
    "header header header header header header"
    "right-body-top right-body-top center-body-top center-body-top left-body-top left-body-top"
    "right-body-bottom right-body-bottom center-body-bottom center-body-bottom left-body-bottom left-body-bottom"
    "footer footer footer footer footer footer";
    grid-gap: 1rem;
    background-color: aliceblue;
    padding: 1rem;
}

.grid-container > div {
    background-color: aquamarine;
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
}
